@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2B3B53;
  --primary: #20BBC0;
  --secondary: #0B759F;
  --accent: #FF3366;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text-main: #2B3B53;
  --font-sans: var(--font-inter);
  
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.mask-linear-fade {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
